@model Department

<div class="row">
    <div class="col-6">
        <form asp-controller="Department" asp-action="Create">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Email address</label>
                <input asp-for="@Model.Name" class="form-control">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
          
            <button type="submit" value="Add" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-dark">Back To List</a>
        </form>
    </div>
</div>

@section Scripts {
    <Partial name="_ValidationScriptsPartial">
}