
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/Files/Images/signin-image.jpg" alt="sing up image"></figure>
                <a asp-action="SignUp" class="signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <p>Reset Password link has been sent to you Email. Please check your Email.</p>
                
            </div>
        </div>
    </div>
</section>

