@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/Files/Images/signin-image.jpg" alt="sing up image"></figure>
                <a asp-action="SignUp" class="signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Login</h2>
                <div class="error-msg">
                    @Html.ValidationSummary(true, "", new { @class = "bg-danger" })
                </div>
                <form asp-controller="Account" asp-action="ResetPassword" class="register-form" id="login-form">
                    <div class="form-group">
                        <label asp-for="NewPassword"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="@Model.NewPassword" type="password" id="your_pass" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" asp-for="ConfirmPassword" id="re_pass" placeholder="Confirm password" />
                        <span asp-validation-for="ConfirmPassword" class="bg-danger"></span>
                    </div>
                        <input type="hidden" asp-for="Email" id="re_pass" placeholder="Confirm password" />
                        <input type="hidden" asp-for="Token" id="re_pass" placeholder="Confirm password" />
                    
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


